.app{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 1182px;
    height: 100%;
    @include xl(){
        width: 500px;
    }
    @include lg(){
        width: 100%;
    }
}
// стилизация заголовков
.title{
    @include text-decoration(30px, 700, $color-black);
}
.subtitle{
    @include text-decoration(20px, 700, $color-black);
}