.audience-reach {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    width: 768px;
    height: 40vh;
    border-radius: 13px;
    background-color: rgba(253, 253, 255, 1);
}
.audience-reach__header {
    display: flex;
    justify-content: space-between;
    width: 768px;
    padding: 27px 63px 0 24px;
}
/* таблица */

.audience-reach__main{
    overflow: auto;
    padding-bottom: 24px;
}
.audience-reach__schedule {
    display: flex;
    padding: 0 40px;
    padding-top: 3%;
}
.audience-reach__schedule-body {
    display: flex;
    flex-wrap: wrap;
    min-width: 637px;
    width: 637px;
    background: url(../img/schedules/curve.png) no-repeat center/contain;
}
.audience-reach__schedule-y {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.audience-reach__schedule-x {
    display: flex;
    justify-content: space-between;
    width: 740px;
    padding: 0 0 0 50px;
}
.audience-reach__schedule-cell {
    float: left;
    width: 91px;
    height: 29px;
    border: 1px solid #EFF3F9;
}

/* чекбокс */

.audience-reach__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.audience-reach__input+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .audience-reach__input--violet+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1.5px solid #7F7FD5;
    border-radius: 5px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .audience-reach__input--pink+label::before{
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1.5px solid #E786D7;
    border-radius: 5px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .audience-reach__input:checked+label::before {
    background-image: url(../img/input/check-mark.png);
  }