.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 340px;
    width: 32%;
    height: 30vh;
    border-radius: 13px;
    background-color: rgba(253, 253, 255, 1);
}
.card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.card__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}