.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 341px;
    height: 148px;
    border-radius: 13px;
    background-color: $color-white;
}
.card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.card__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
// стилизация текста
// 
.card__text{
    @include text-decoration (20px, 500, $color-black);
}
.card__value{
    @include text-decoration (20px, 500, $color-grey);
}
.arrow-up{
    color: $color-violet;
}
.arrow-down{
    color: $color-pink;
}