.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(239, 243, 249, 1);
    @include xl(){
        width: 500px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    @include lg(){
        width: 468px;
    }
}
.header__header{
    padding-top: 45px;
    padding-left: 48px;
    @include xl(){
        align-self: center;
        padding-top: 45px;
        padding-left: 10px;
    }
    @include lg(){
        width: 468px;
    }
}
.header__body{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 45px 40px 0 45px;
    @include xl(){
        width: 400px;
        padding: 10px 0 0 5px;
        
    }
    @include lg(){
        width: 468px;
        justify-content: flex-start;
    }
}
.header__body-input{
    display: flex;
    align-items: center;
    
}
.header__bell{
    margin: 10px;
    width: 25px;
    height: 25px;
    background: url(../img/header/bell.png) no-repeat center;
}
.header__bell::before{
    content: '';
    width: 25px;
    height: 17px;
    display: inline-block;
    background: url(../img/header/notice-under-bell.png) no-repeat 14px 3px;
}
.header__body-login{
    display: flex;
    align-items: center;
}
.header__body-avatar{
    margin: 0 10px;
    width: 50px;
    height: 50px;
    background: url(../img/header/avatar.png);
    @include lg(){
        margin: 0 5px;        
    }
}
/* стили инпута */
.header__input{
    width: 153px;
    height: 32px;
    border: 1px solid #EBEBEB;
    border-radius: 8px;
    @include lg(){
        width: 250px;
    }
    
}
.header__input::-webkit-input-placeholder {
    padding-left: 40px;
    background: url(../img/header/search.png) no-repeat 18px center;
}
.header__input:-moz-placeholder {
    padding-left: 40px;
    background: url(../img/header/search.png) no-repeat 18px center;
}
.header__input:-ms-input-placeholder {
    padding-left: 40px;
    background: url(../img/header/search.png) no-repeat 18px center;
}
// стилизация текста
.header__body-name{
    @include text-decoration(20px, 600, $color-black);
}