.main{
    width: 1182px;
    height: 100%;
    padding-top: 44px;
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
}