.container{
    position: absolute;
    background: url(../img/background/union-figure.svg) no-repeat left top;
    
}
.container::after{
    content:'';
    position: relative;
    z-index: -1;
    display: block;
    bottom: 10em;
    left: 70em;
    width: 413px;
    height: 413px;
    border-radius: 100%;
    background: linear-gradient(180deg, #7F7FD5 0%, #E786D7 100%);
    box-shadow: 0px 48px 32px rgba(135, 128, 213, 0.14), 0px 32px 24px rgba(135, 128, 213, 0.1), 0px 4px 6px rgba(135, 128, 213, 0.08), 0px 0px 1px rgba(0, 0, 0, 0.04);
    @include xl(){
        display: none;
    }
    @include lg(){
        display: none;        
    }
}
.wrapper{
    width: 100%;
    height: 880px;
    display: flex;
    border-radius: 14px;
    margin: 100px;
    @include xl(){
        width: 500px;
        height: min-content;
        margin: 0;
    }
    @include lg(){
        width: 468px;
        padding-bottom: 50px;        
    }
}
