$color-black: rgba(79, 79, 79, 1);
$color-grey: rgba(151, 151, 151, 1);
$color-white: rgba(253, 253, 255, 1);
$color-violet: rgba(127, 127, 213, 1);
$color-pink: rgba(231, 134, 215, 1);
$screen-sm: 320px;
$screen-md: 480px;
$screen-lg: 768px;
$screen-xl: 1024px;